@charset "utf-8";
/* CSS Document */
.audioContainer
{
	background-color:#E2AB00;
	height:100px !important;
	clip: auto !important;
}

.playButton{
	position:absolute;
	left:20px;
	top:20px;
	width:58px;
	height:58px;
	cursor:pointer;
	background-image:url('audio_playBtn-big.png');	
}

.progressText{
	position:absolute;
	top:40px;
	width:90px;
	height:25px;
	color:#555555;
	font-family:Sanchez;
	text-align:right;
}

.soundButton{
	position:absolute;
	top:20px;
	width:58px;
	height:58px;
	background-image:url('audio_audioBtn-big-3.png');
	background-position:left center;
	cursor:pointer;
	background-repeat:no-repeat;	
}

.progress1{
	position:absolute;
	left:90px;
	top:30px;
	height:30px;
	background-color:#FFFFFF;
	padding:8px 0px 0px 10px;
	font-family:Sanchez;
	color:#545454;
}

.progress2{
	position:absolute;
	left:90px;
	top:30px;
	width:0px;
	height:38px;
	background-color:#45BEED;	
}

.progress3{
	position:absolute;
	left:90px;
	top:30px;
	height:38px;
}

.skipLine{
	position:absolute;
	left:90px;
	top:30px;
	width:1px;
	height:38px;
	background-color:#545454;
	visibility:hidden;	
}