/* Using box shadows to create 3D effects */
#calculator {
	width: 325px;
	height: auto;
	
	padding: 20px 20px 9px;
	
	box-sizing: border-box;
	border-radius: 3px;
	box-shadow: inset 0 -4px 0 rgba(0,0,0,0.4);
}

/* Top portion */
.calc-top span.calc-clear {
	float: left;
}

/* Inset shadow on the screen to create indent */
.calc-top .calc-screen {
	height: 40px;
	width: 212px;
	
	float: right;
	
	padding: 0 10px;
	
	background: rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
	
	/* Typography */
	font-size: 17px;
	line-height: 40px;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}

/* Clear floats */
.calc-keys, .calc-top {overflow: hidden;}

/* Applying same to the calc-keys */
.calc-keys span, .calc-top span.calc-clear {
	float: left;
	position: relative;
	top: 0;
	
	cursor: pointer;
	
	width: 66px;
	height: 36px;
	
	background: white;
	box-sizing: border-box;
	border-radius: 3px;
	box-shadow: 0px 4px #dcdcdc;
	
	margin: 0 7px 11px 0;
	
	color: #888;
	line-height: 36px;
	text-align: center;
	
	/* prevent selection of text inside calc-keys */
	user-select: none;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}

/* Remove right margins from operator calc-keys */
/* style different type of calc-keys (operators/evaluate/clear) differently */
.calc-keys span.operator {
	background: #FFF0F5;
	margin-right: 0;
}

.calc-keys span.eval {
	background: #fff992;
	box-shadow: 0px 4px #c8c660;
	color: #888e5f;
}

.calc-top span.calc-clear {
	background: #c85151;
	box-shadow: 0px 4px #9f4646;
	color: white;
}

/* Some hover effects */
.calc-keys span:hover {
	background: #9c89f6;
	box-shadow: 0px 4px #6b54d3;
	color: white;
}

.calc-keys span.eval:hover {
	background: #abb850;
	box-shadow: 0px 4px #717a33;
	color: #ffffff;
}

.calc-top span.clear:hover {
	background: #f68991;
	box-shadow: 0px 4px #d3545d;
	color: white;
}

/* Simulating "pressed" effect on active state of the calc-keys by removing the box-shadow and moving the calc-keys down a bit */
.calc-keys span:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

.calc-keys span.eval:active {
	box-shadow: 0px 0px #717a33;
	top: 4px;
}

.calc-top span.clear:active {
	top: 4px;
	box-shadow: 0px 0px #d3545d;
}
