			<!------------------------------- NEW SECTION -------------------------------->
						<div class='word-bubble-btm-left' id="word-bubble-rev-7a">
							<div class="carrot-tl"></div>
							<div class='rev-text'>
								It sounds like training is a definite need, and we can provide that both in person and through our learning platform, Valvoline™ University.
							</div>
							<div class='rev-text'>
								What can you tell me about how you interact with the Parts Department?
							</div>
						</div>
						<div class='click-bubble bubble-left bubble-left-inside' id="clk-listen-7a">
							<div style="left: 0;">
								Click to Read
							</div>
							<div class='bubble b0'></div>
							<div class='bubble b1'></div>
							<div class='bubble b2'></div>
							<div class='bubble b3'></div>
						</div>
						<div class="tab-container index-7a" style="bottom: -100px !important;">
							<div class="left-arrow"></div>
							<div class="right-arrow"></div>
							<div class="tab-instructions" style="flex-basis: 100%;">Click to continue the conversation.
							</div>
						</div>
			<!------------------------------- NEW SECTION -------------------------------->
						<div class='word-bubble-btm-left' id="word-bubble-rev-7b">
							<div class="carrot-tr"></div>
							<div class='rev-text'>
								We work closely with the Parts Department as they provide the parts and products used to service the vehicles in the Service Department.
							</div>
							<div class='rev-text'>
								The Parts Manager and his team run daily inventory to make sure we have everything we need in the Back of the House.
							</div>
						</div>
						<div class='click-bubble bubble-right-inside hidden' id="clk-listen-7b">
							<div style="right: 0;">
								Click to Read
							</div>
							<div class='bubble b0'></div>
							<div class='bubble b1'></div>
							<div class='bubble b2'></div>
							<div class='bubble b3'></div>
						</div>
						<div class="tab-container index-7b" style="bottom: -100px !important;">
							<div class="left-arrow"></div>
							<div class="right-arrow"></div>
							<div class="tab-instructions" style="flex-basis: 100%;">Click to continue the conversation.
							</div>
						</div>
			<!------------------------------- NEW SECTION -------------------------------->
						<div class='word-bubble-btm-left' id="word-bubble-rev-7c">
							<div class="carrot-tl"></div>
							<div class='rev-text'>
								I know, from my experience, it can be hard to overcome the Parts Manager’s hesitations when switching lubricant products.
							</div>
							<div class='rev-text'>
								Do you think that will be an issue with your Parts Manager?
							</div>
						</div>
						<div class='click-bubble bubble-left bubble-left-inside hidden' id="clk-listen-7c">
							<div style="left: 0;">
								Click to Read
							</div>
							<div class='bubble b0'></div>
							<div class='bubble b1'></div>
							<div class='bubble b2'></div>
							<div class='bubble b3'></div>
						</div>
						<div class="tab-container index-7c" style="bottom: -100px !important;">
							<div class="left-arrow"></div>
							<div class="right-arrow"></div>
							<div class="tab-instructions" style="flex-basis: 100%;">Click to continue the conversation.
							</div>
						</div>
			<!------------------------------- NEW SECTION -------------------------------->
						<div class='word-bubble-btm-left' id="word-bubble-rev-7d">
							<div class="carrot-tr"></div>
							<div class='rev-text'>
								I have a good relationship with the Parts Manager, and I think he would be open to change, but he would have to be certain of the results.
							</div>
							<div class='rev-text'>
								We’ve talked to other people like yourself in the past, but we never saw enough proof to make a switch. 
							</div>
						</div>
						<div class='click-bubble bubble-right-inside hidden' id="clk-listen-7d">
							<div style="right: 0;">
								Click to Read
							</div>
							<div class='bubble b0'></div>
							<div class='bubble b1'></div>
							<div class='bubble b2'></div>
							<div class='bubble b3'></div>
						</div>
						<div class="tab-container index-7d" style="bottom: -100px !important;">
							<div class="left-arrow"></div>
							<div class="right-arrow"></div>
							<div class="tab-instructions" style="flex-basis: 100%;">Click to continue the conversation.
							</div>
						</div>
			<!------------------------------- NEW SECTION -------------------------------->
						<div class='word-bubble-btm-left' id="word-bubble-rev-7e">
							<div class="carrot-tl"></div>
							<div class='rev-text'>
								Well, I can definitely back everything up. But Valvoline™ doesn’t offer a one-size-fits-all package, ...
							</div>
							<div class='rev-text'>
								...so before I talk to either of you about what we can do, I’d like to learn more about what you need.
							</div>
							<div class='rev-text'>
								Do you both have time next week for me to pop back in?
							</div>
						</div>
						<div class='click-bubble bubble-left bubble-left-inside hidden' id="clk-listen-7e">
							<div style="left: 0;">
								Click to Read
							</div>
							<div class='bubble b0'></div>
							<div class='bubble b1'></div>
							<div class='bubble b2'></div>
							<div class='bubble b3'></div>
						</div>
						<div class="tab-container index-7e" style="bottom: -100px !important;">
							<div class="left-arrow"></div>
							<div class="right-arrow"></div>
							<div class="tab-instructions" style="flex-basis: 100%;">Click to continue the conversation.
							</div>
						</div>
			<!------------------------------- NEW SECTION -------------------------------->
						<div class='word-bubble-btm-left' id="word-bubble-rev-7f">
							<div class="carrot-tr"></div>
							<div class='rev-text'>
								How about Tuesday at noon? Typically, lunchtime is pretty slow for us.
							</div>
						</div>
						<div class='click-bubble bubble-right-inside hidden' id="clk-listen-7f">
							<div style="right: 0;">
								Click to Read
							</div>
							<div class='bubble b0'></div>
							<div class='bubble b1'></div>
							<div class='bubble b2'></div>
							<div class='bubble b3'></div>
						</div>