$primaryColor : grey;
$HeaderColor: lightgrey;
$footerColor: #303030;
$HeaderFontColor: black;
$FooterFontColor: white;
$valvLightBlue: #0082CA;
$valvDarkBlue: #13216A;
$valvRed: #E1261C;
$dullRed: #940f0A;
$dullGreen: #305B14;
$dullYellow: #C6731A;
$textColor:#6E6E6E;

#prheader {
    font-size: 96px;
    font-weight: 500;
    font-family: Oswald;
    position: relative;
    top: 70px;
}

#prPage #technicalIssues {
    width: 300px;
    top: 55px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#prPage #exampleInputEmail1 {
    text-align: left !important;
    border-bottom: 5px solid red;
    border-radius: 0px;
    font-weight: bold;
    font-size: 24px;
    top: 40px;
    position: relative;
    width: 425px;
    margin-left: auto;
    margin-right: auto;
}

#prPage_BG {
    background-image: url(../images/PasswordReset_BG.png);
    width: 1115px;
    height: 829px;
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

#prPage .logInButton {
    font-size: 14pt;
    background-color: $valvRed;
    height: 40px;
    width: 180px;
    top: 20px;
    position: relative;
    text-align: center;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#prPage #loginControls
{
    margin-top: 50px;
}