$primaryColor : grey;
$HeaderColor: lightgrey;
$footerColor: #303030;
$HeaderFontColor: black;
$FooterFontColor: white;
$valvLightBlue: #0082CA;
$valvDarkBlue: #13216A;
$valvRed: #E1261C;
$dullRed: #940f0A;
$dullGreen: #305B14;
$dullYellow: #C6731A;
$textColor:#6E6E6E;

#registrationPage input {
    margin: 15px;
    width: 365px;
    display: inline-block;
}

#registrationPage .formElement {
    width: 430px;
    display: inline-block;
    text-align: left;
    position: relative;
}

#registrationPage .formElement #consentCheckbox {
    width: unset;
}

#registrationPage form button {
    width: 250px;
    margin-right: 45px;
}

#registrationPage #body1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    left: 5%;
    position: relative;
    margin: 40px 0px 40px 0px;
}

#registrationPage .Tooltip {
    border: 1px solid grey;
    border-radius: 25px;
    height: 20px;
    width: 20px;
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 9pt;
    top: -2px;
    left: -10px;
    cursor: pointer;
}

#registrationPage .TooltipExpand {
    border: 1px solid black;
    border-radius: 10px;
    height: 100px;
    width: 200px;
    position: absolute;
    text-align: left;
    display: none;
    font-size: 12pt;
    top: 65px;
    z-index: 100;
    background-color: white;
    left: 210px;
    padding: 5px 10px 5px 10px;
}

#registrationPage form {
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#welcome_sectionHeader {
    background-color: $HeaderColor;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.registrationInputField {
    text-align: left !important;
    border: 0px;
    border-radius: 0;
    border-bottom: 5px solid red;
    font-weight: bold;
    font-size: 24pt;
    width: 425px;
}

.registrationInputField::placeholder {
    color: #E6E6E6;
}

.asterisk {
    color: #E1261C;
    font-weight: bold;
    font-size: 20pt;
    margin-left: 10px;
    display: inline-block;
    top: 0px;
    left: 381px;
    position: absolute;
}

.formElement {
    width: 450px;
}

.flex {
    display: flex;
	align-items: center;
}

.searchButton {
    font-size: 14pt;
    background-color: #E1261C;
    height: 40px;
    width: 180px;
    margin-left: 20px;
    text-align: center;
    border-radius: 7px;
    padding-top: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 0;
}

.submitButton:hover,.searchButton:hover {
    background-color:$dullRed;
}

.registrationSelectField {
    text-align: left !important;
    border: 0px;
    border-radius: 0;
    border-bottom: 5px solid red;
    font-weight: bold;
    font-size: 24pt;
    width: 365px;
    margin: 15px;
    color: #E6E6E6;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    display: inline-block;
}

.calendarButton {
    background-image: url(../images/4-Calendar_bttn_UP.png);
    position: absolute;
    width: 30px;
    height: 29px;
    top: 30px;
    left: 382px;
    cursor: pointer;
}

.redDropdown {
    color: $valvRed;
    position: absolute;
    left: 360px;
    top: 35px;
    pointer-events: none;
}

#registrationheader {
    font-size: 44px;
    font-weight: 500;
    position: relative;
    font-weight: bold;
    text-align: left;
}

.registrationSelectField.active {
    color: #000;
}

.footnote
{
    font-size: 12px;
    margin-left: 20px;
}

#registrationPage input#password
{
    margin:15px 15px 0px 15px;
}

#registrationPage input#passwordConfirm
{
    margin:0px 15px 15px 15px;
}

.registrationDivider
{
    background-color:#000;
    height:2px;
    width:100%;
    margin:50px 0px;
}

#registrationPage input#classHD, #registrationPage input#classLD, #registrationPage input#classVPS, #registrationPage input#classAD
{
    width:20px;
}

#classSelect
{
    padding-top:20px;
    padding-left:15px;
}

#classSelect input
{
    margin: 0px 0px 0px 15px;
}

#HDClassInfo, #LDClassInfo, #VPSClassInfo, #ADClassInfo, 
{
    display:none;
}