@font-face {
  font-family: 'J&J CircularTT Book';
  src: url('Fonts/J&JCircularTT-Book.eot');
  src: url('Fonts/J&JCircularTT-Book.eot?#iefix') format('embedded-opentype'),
       url('Fonts/J&JCircularTT-Book.svg#J&JCircularTT-Book') format('svg'),
       url('Fonts/J&JCircularTT-Book.ttf') format('truetype'),
       url('Fonts/J&JCircularTT-Book.woff') format('woff'),
       url('Fonts/J&JCircularTT-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}