<!DOCTYPE html>
<html lang="en-US">
<head>
	<style>
		html, body {
			overflow: hidden;
			margin: 0px;
			padding: 0px;
		}
	</style>
</head>
<body onunload="Slide.Destroy()" onbeforeunload="Slide.Destroy()">
    <div id='player'>
        <!-- No flash! -->
    </div>
	<script src="../../Source/JS/jQuery/jquery-1.11.1.min.js"></script>
	<script src="../../Source/XM/Polyfills.js"></script>
    <script src="../../Source/XM/Events/XMEvent.js"></script>
    <script src="../../Source/JS/SWFObject/swfobject.js"></script>
    <script src="../../Source/XM/Helpers.js"></script>
	<script src="../../Source/XM/Core/TemplateBase.js"></script>
    <script src="../../Source/XM/Slides/AS3Slide.js"></script>
    <script>
		$(document).ready(function () {
			var flashvars = {};
			var params = {
				wmode: 'opaque'
			};
			var attributes = {};

            swfobject.embedSWF('../Lesson' + $.getUrlVar('lesson') + '/Slide' + $.getUrlVar('slide') + '.swf', 'player', '960', '420', '11', null, flashvars, params, attributes);
        });
    </script>
</body>
</html>